/* css file for static quiz page */

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0;
    padding:0;
}

#container {
    margin:0 auto 3px auto;
    padding: 0 0 25px 0;
    /* text-align: center; */
}

header{
    background-color: blueviolet;
    color:#fff;
    padding: 2px 0 20px 0;
    text-align: center;
}

form{
    /* text-align: left; */
    margin: 10px auto;
    font-size: large;
    border: 1px solid black;
    padding: 20px;
}

.question_text{
    margin-left: 10%;
    font-weight: bold;
}

#grade {
    text-align: center;
    font-size: x-large;
    margin: 15px auto;
    font-weight: bold;
}

ul {
    text-align: left;
    list-style: none;
    padding: 0;
    margin-left: 10%;
}

.right{
    background-color: green;
    padding: 3px;
    font-size: medium;
    border:1.5px solid black;
    border-radius: 3px;
    color: #fff;
}

.wrong{

    background-color: red;
    padding: 3px;
    font-size: medium;
    border:1.5px solid black;
    border-radius: 3px;
    color: #fff;
}


#submit {   
    padding:10px 15px; 
    border:0 none;
    font-size: 1.5rem;
    background:blueviolet; 
    color: #fff;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 4px; 
    width:100%;
}

#submit:hover {
    background:rgb(109, 32, 180); 
}

